body {
	background: #fff;
	margin: 0;
	font: 16px/24px Helvetica, Arial, sans-serif;
	text-align: center;
	/* border-top: 5px solid #4285F4; */
}

#wrap {
	margin: 0 auto;
	width: 760px;
	text-align: left;
	/* padding: 0 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

/* Header 样式 */
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	/* padding: 10px 20px; */
	background-color: white;
	border-bottom: 2px solid #4285F4;
}

/* Logo 样式 */
.logo {
	width: 200px;
	height: auto;
}

/* 导航链接容器 */
.nav-links {
	display: flex;
	gap: 20px;
}

/* 导航链接样式 */
.nav-links a {
	text-decoration: none;
	color: #4285F4;
	font-weight: bold;
	padding: 8px 12px;
	border: 1px solid transparent;
	border-radius: 4px;
	transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

/* 悬停效果 */
.nav-links a:hover {
	background-color: #e8f1ff;
	border-color: #4285F4;
	color: #333;
}

.main {
	margin-top: 30px;
	text-align: justify;
}

h3 {
	font-size: 22px;
	margin: 0 0 7px 0;
}

.subtitle {
	color: #026CA6;
	font-weight: 600;
}

a:link,
a:visited {
	color: #026CA6;
	text-decoration: none;
}

a:hover {
	color: #078CB6;
	/*#000;*/
}

/* 图片展示容器 */
.image-container {
	width: 500px;
	margin: auto;
	text-align: center;
	background-color: white;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	border: 2px solid #4285F4;
}

/* 图片样式 */
.image-container>img {
	width: 100%;
	height: auto;
	display: block;
}

/* 图片说明文字样式 */
.image-caption {
	padding: 8px;
	font-size: 14px;
	color: #4285F4;
	font-weight: bold;
	background-color: #e8f1ff; /* 浅蓝色背景，使文本突出 */
}

/* 布局容器 */
.image-group {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	padding: 6px 0;
}

/* 左侧 Gif 图片 */
.gif-image {
	width: 160px;
	height: auto;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* 中间箭头 */
.arrow {
	width: 50px;
	height: 50px;
}

/* 右侧图片容器 */
.result-images {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	max-width: 320px;
}

/* 右侧图片样式 */
.result-images img {
	width: 100px;
	height: 100px;
	object-fit: cover;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.google-device-link {
	display: inline-flex;
	align-items: center;
	padding: 10px 20px;
	font-size: 16px;
	font-weight: bold;
	color: #4285F4;
	/* Google blue */
	text-decoration: none;
	border: 2px solid #4285F4;
	border-radius: 25px;
	transition: background-color 0.3s, color 0.3s;
}

.google-device-link:hover {
	background-color: #4285F4;
	color: white;
}

.google-logo {
	width: 20px;
	height: 20px;
	margin-right: 8px;
}

.hr {
	border-top: 1px solid #e2e2e2;
	height: 0;
	width: 100%;
}


/* Footer style */
#footer {
	font-size: 12px;
	background: url(footer_bg.jpg) top center no-repeat;
	padding-top: 20px;
	text-align: center;
	width: 100%;
	color: #888;
}

#footer a:link,
#footer a:visited {
	color: #777;
}

#footer a:hover {

	color: #555;
}